html {
  background-color: #c9b5ae;
  font-family: 'PT Serif', serif;
  font-weight: normal;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #4e0e1f;
}

body {
  font-family: 'PT Serif', serif;
}

ol {
  list-style-type: none;
}

a {
  color: #9e2244;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4e0e1f;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: .5rem;
}

.days {
  font-weight: bold;
  font-size: 3rem;
}

blockquote {
  font-size: 3rem;
  font-style: italic;
}

cite {
  font-size: .5rem;
  font-style: italic;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #4e0e1f;
}

ol {
  text-indent: 1em;
  list-style-type: lower-greek;
}

.serve {
  font-style: italic;
}

dt {
  text-indent: 1em;
  font-weight: bold;
}

ul {
  list-style-type: circle;
}
